/* GLOBAL STYLINGS */
body {
    background-color: rgb(12, 16, 21);
    background-image: url(../images/backgroundimage.jpg)
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: bolder;
    padding-top: 150px;
    text-shadow: 0 0 3px black, 0 0 30px rgb(82, 177, 240);
    vertical-align: bottom;
}

h2 {
    color: crimson;
    font-size: 3rem;
    text-shadow: 0 0 5px white, 0 0 5px white;
}

h3 {
    color: white;
}

h4 {
    color: white;
    font-weight: bolder;
    text-shadow: 0 0 3px black, 0 0 30px rgb(82, 177, 240);
    margin-right: 12%;
}

h5 {
    color: white;
}

h6 {
    color: white;
    text-align: center;
    padding-top: 5px;

}

p {
    color: white;
    margin: 0px;

}

/* INDEX_1.HTML - styling specific to index_1.html*/

#about {
    color: whitesmoke;
    background-color: rgb(41, 55, 69, 0.75);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;
    padding: 10px;
    text-align: center;
}

#get-started:hover {
    background: #023269;
    border: 1px solid rgb(118, 151, 248);
    color: white;
    cursor: pointer;
}

#get-started {
    background-color: lightskyblue;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40%;
    margin-right: 40%;
    width: 10%;
}

.jumbotron {
    background-image: url(../images/seattleMorning.jpg);
    background-size: cover;
    background-position: 0 30%;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;
    font-family: 'Righteous', cursive;
    height: 25%;
    margin-top: 20px;
}

/* CREATE.HTML - styling specific create.html*/

#input-info {
    color: whitesmoke;
    text-align: center;
    background-color: rgb(41, 55, 69, 0.75);
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;
    width: 60%;
    padding: 12px 20px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
}

.jumbotron2 {
    background-image: url(../images/seattleMorning2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 40%;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;
    font-family: 'Righteous', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    text-align: right;
}

#submit:hover {
    background: #023269;
    border: 1px solid rgb(118, 151, 248);
    color: white;
    cursor: pointer;
}

#submit {
    background-color: lightskyblue;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40%;
    margin-right: 40%;
    width: 15%;
}

/* CALCULATE.HTML */

#addTask:hover {
    background: #023269;
    border: 1px solid rgb(118, 151, 248);
    color: white;
    cursor: pointer;
}

#addTask {
    background-color: lightskyblue;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40%;
    margin-right: 40%;
    width: 15%;
}

#calculate:hover {
    background: #023269;
    border: 1px solid rgb(118, 151, 248);
    color: white;
    cursor: pointer;
}

#calculate {
    background-color: crimson;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 40%;
    margin-right: 40%;
    width: 15%;
}



#departure-time {
    background-color: rgb(41, 55, 69, 0.75);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;   
    height: 70px;


}

#how-much {
    width: 50%;
    margin-bottom: 15px;
}

hr {
    border: 5px solid silver;
    border-radius: 3px;
}


.jumbotron3 {
    background-image: url(../images/seattleMorning3.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 40%;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;
    font-family: 'Righteous', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
    text-align: right;
}

#more-minutes {
    padding-top: 5px;
    width: 50%;
}

#more-time {
    display: flex;
    flex-direction: row;
}



#radio {
    color: white;
}

.radio-inline {
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
}

#results-panel {
    color: white;
    background-color: rgba(199, 225, 252, 0.75);
    border: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;
    padding: 12px 20px;
    text-align: center;
    

}

#taskDuration {
    margin-bottom: 10px;
    width: 48%;

}

#taskName {
 
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
    width: 48%;
}


#weather-results {
    background-color: rgb(41, 55, 69, 0.75);
    border: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;
    border-radius: 10px;
    padding: 12px 20px;
    text-align: left;
}

#where-when {
    background-color: rgb(41, 55, 69, 0.75);
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    box-shadow: 1px 1px 2px whitesmoke, 0 0 25px lightgray, 0 0 5px gray;
    border-radius: 10px;
    color: whitesmoke;
    margin: 0 auto;
    padding: 12px 20px;
    width: 100%;
}

.wi {
    padding-left: 13px;
}